#t1 {
	position: relative;
	display: inline-block;
	font-size: 32px;

	top: 120px;
	left: 2vw;
	transform: rotate(270deg);
	font-style: italic;
	transform-origin: left;

	background: linear-gradient(90deg, #4291c9, #b812f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	padding-right: 0.2em;
}

#t2, #t3 {
	color: black;
	position: absolute;
	font-family: "UnifrakturCook";
	font-size: 35px;
	line-height: 70%;
	right: 2vw;
	text-align: right;
}

#t2 {
	bottom: 10vh;
}

#t3 {
}

#t2 a, #t3 span {
	font-size: 60%;
	/*text-shadow: #fff 0px 0px 3px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px;*/
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: white;
	/*text-shadow: #000 0px 0px 3px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;*/
}

body {
	margin: 0;
	font-family: "Signika Negative", sans-serif;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background: url("../assets/shinobu/861e72cb806da22fc6d1fa354ee412f4.jpg") center center no-repeat; /* "../assets/nagato/depressing.jpg", "../assets/yotsugi/beach.png"*/
	height: 100vh;
}

/* mobile */
@media screen and (max-width: 640px) {
	#t1 {
		left: 5vw;
	}
}

/* desktop */
@media screen and (max-width: 640px) {
	#t1 {
	}
}