.window {
	background-color: #ececec;
}

.windows .window {
	font-family: 'Cantarell', sans-serif;
	color: #000;
	height: 350px;
	width: 400px;
	box-shadow:0px 0px 35px -5px #ababab;
}

.window .body {
	padding: 0 5px;
}

.window .bar {
	height: 20px;
	background-color: #dcdcdc;
}

.bar .button {
	height: 14px;
	width: 14px;
	padding: 3px 3px;
	box-sizing : border-box;
	border-radius: 45px;
	display: inline-block;
}

.button.exit {
	background-color: red;
}

.button.hide {
	background-color: #ff8c00;
}

.button.custom {
	background-color: #3cb371;
}
