body {
	background-image: url("../assets/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
	font-family: "Cantarell", sans-serif;
}

body .toolbar {
	position: absolute;
	top: 0;
	width: 100vw;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	margin-bottom: 20px;
	height: 30px;
}

.toolbar ul {
	margin: 0 0;
	padding: 5px 15px;
	color: #fff;
	list-style: none;
	line-height: 20px;
}

.toolbar ul li {
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
}

.toolbar ul li * {
	padding: 0 0;
	margin: 0 0;
}

.window {
	background-color: #ececec;
	box-shadow: 0 0 35px -5px #ababab;
	border-radius: 5px;
	color: #000;
}

.windows .window {
	height: 350px;
	width: 600px;
}

.window .bar {
	height: 20px;
	border-radius: 5px 5px 0 0;
	background-color: #dcdcdc;
	padding: 1px 3px;
}

.window .body {
	padding: 0 5px;
}

.bar .button {
	height: 14px;
	width: 14px;
	border-radius: 45px;
	display: inline-block;
	position: relative;
}

.bar span.title {
	padding: 0 200px;
}

.button .icon {
	color: #444;
	position: absolute;
	display: inline-block;
	font-size: 11px;
	line-height: 14px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	cursor: pointer;
}

.button .opacity {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.button .opacity:hover {
	transition: 0.5s;
	opacity: 1;
}

.button.exit {
		background-color: red;
}

.button.hide {
	background-color: #ff8c00;
}

.button.custom {
	background-color: #3cb371;
}

a {
	color: inherit;
}