body {
	background-image: url("../assets/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: "Cantarell", sans-serif;
}

body .toolbar {
	z-index: 999999999;
	position: absolute;
	top: 0;
	width: 100vw;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	margin-bottom: 20px;
	height: 30px;
}

.toolbar ul:not([content]) {
	margin: 0 0;
	padding: 5px 15px;
	color: #fff;
	list-style: none;
	line-height: 20px;
}

.toolbar ul li {
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
}

.toolbar ul li a {
	text-decoration: none;
}

.toolbar ul li * {
	padding: 0 0;
	margin: 0 0;
}

.window {
	position: absolute;
	z-index: 0;
	background-color: #ececec;
	box-shadow: 0 0 35px -5px #ababab;
	border-radius: 5px;
	color: #000;
}

.windows .window {
	height: 350px;
	width: 600px;
	animation: fadeIn 0.5s ease 0s 1 normal;
	-webkit-animation: fadeIn 0.5s ease 0s 1 normal;
}

.window .bar {
	height: 20px;
	border-radius: 5px 5px 0 0;
	background-color: #dcdcdc;
	padding: 1px 3px;
	cursor: pointer;
}

.window .body:not(#aboutme) {
	padding-left: 20px;
}

.bar .button {
	height: 14px;
	width: 14px;
	border-radius: 45px;
	display: inline-block;
	position: relative;
}

.bar span.title {
	padding: 0 200px;
}

.button .icon {
	color: #444;
	position: absolute;
	display: inline-block;
	font-size: 11px;
	line-height: 14px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	cursor: pointer;
}

.button .opacity {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.button .opacity:hover {
	transition: 0.5s;
	opacity: 1;
}

.button.exit {
		background-color: red;
}

.button.hide {
	background-color: #ff8c00;
}

.button.custom {
	background-color: #3cb371;
}

a {
	color: inherit;
}

#profile img {
	display: inline;
}

.body ul {
	padding: 0 0;
	list-style: none;
}

#profile ul:not(.links) {
	margin-top: 0px;
}

#profile ul.links {
	display: inline-block;
	padding-left: 20px;
}

#profile ul.links li * {
	margin: 0 0;
}

#profile ul.links li a {
	text-decoration: none;
}

img {
	border-radius: 5px;
}

small {
	color: gray;
	font-size: 80%;
}

.window.forward {
	z-index: 1;
}

.window.backward {
	z-index: 0;
}

.tab .name, .tab .display {
	display: inline-grid;
}

.tab .display {
	background-color: #fff;
	width: 78%; /* 480px, 470px */
	height: 300px; /* 16vw */
	box-shadow: 0 0 35px -5px #ababab;
}

.tab ul.display li.forward {
	z-index: 1;
	display: block;
	padding-left: 8px;
	animation: fadeIn 0.5s ease 0s 1 normal;
	-webkit-animation: fadeIn 0.5s ease 0s 1 normal;
}

.tab ul.display li.backward {
	z-index: 0;
	display: none;
}

.tab ul.name {
	cursor: pointer;
	width: 20%;
	box-shadow: 0 0 35px -5px #ababab;
}

.tab ul.name li {
	padding-left: 10px;
}

.tab ul.name .current {
	background-color: #114fbd;
	color: #fff;
}

.tab ul.name .other {
	background-color: #f3f3f3;
	color: #000;
}

#time {
	float: right;
}

@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}
