body {
	font-family: 'Montserrat', sans-serif;
	background-image: linear-gradient(to bottom, #2d2d2d 0%, #000000 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
}

h1 {
	padding-top: 40px;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	padding-left: 0;
}

li {
	display: inline-block;
	padding: 0 10px;
	padding-inline-start: 0;
}

a:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 255);
	text-shadow: #999 0px 0px 2px,   #999 0px 0px 2px,   #999 0px 0px 2px, #999 0px 0px 2px,   #999 0px 0px 2px,   #999 0px 0px 2px;
	transition: .3s;
}